@mixin boxnos {
  width: 800px;
  border: 2px solid black;
  height: 100px;
  display: colum;

  background-color: burlywood;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 5px rgb(29, 28, 28);
  align-content: center;
}
@mixin boxnos2 {
  width: 800px;
  border: 2px solid black;
  height: 200px;
  display: column;

  background-color: rgb(214, 135, 33);
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 5px rgb(29, 28, 28);
  align-items: center;
}
