footer {
  background-color: $background-Footer;
  padding: 10px 20px;
  align-items: flex-end;
  grid-area: footer;
  padding-bottom: 50px;

  .pie {
    text-align: center;
    .twit {
      width: 50px;
      height: 50px;
    }
    .face {
      width: 50px;
      height: 50px;
    }
  }
  .textof {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
  }
  .textof2 {
    font-size: 16px;
    text-align: center;
  }
}
